
.box-shadow {
    background: rgba(76, 175, 80, 0.1);
    -webkit-box-shadow: -1px -20px 69px -1px rgba(7,237,211,0.36);
    -moz-box-shadow: -1px -20px 69px -1px rgba(7,237,211,0.36);
    box-shadow: -1px -20px 69px -1px rgba(7,237,211,0.36);
}
.carousel-inner img {
    width: 100%;
  }
#dimension {
    padding: 0;
   scroll-behavior: smooth;
}
#slider {
    min-width: 50%;
    
}
.about img {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    /* margin: 10px; */
}
.about div {
    padding: 5px;
    margin: 10px;
    height: 90vh;;
}
.about div p {
    max-width: 200px;
    /* margin: 0; */
    text-align: center;
}
/* @keyframes example1 {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

#animation1 {
    animation-name: example1;
    animation-duration: 4s;
} */