<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Building Services JMJ, LLC</title>
</head>
<body>
    <!-- Navigation section -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="#">Services</a>
              <a class="p-2 text-dark" href="#">Testemonials</a>
              <a class="p-2 text-dark" href="#">Pricing</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Questions?</a>
          </div>
    <div class="container" id="dimension">
        <div id="slider" class="d-flex carousel slide align-content-center" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="/static/images/polishing.jpeg" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Polishing Services</h3>
                    <p>We Specialize in Polishing and Staining among other things!</p>
                </div>   
                </div>
                <div class="carousel-item">
                <img src="/static/images/restoration.jpeg" alt="Chicago" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Restoration</h3>
                    <p>Need some repair? We get it! let us help!</p>
                </div>   
                </div>
                <div class="carousel-item">
                <img src="/static/images/beforeandafter.png" alt="New York" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Quality Service</h3>
                    <p>Doesn't matter the size of the project we're prepared</p>
                </div>   
                </div>
            </div>
            <a class="carousel-control-prev" href="#slider" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slider" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <p id="animation1">The Red Floor was a restoration job that I did many years ago. The owners were unable to find anyone qualified to do the maintenance on it, so they just didn’t do it. Several years passed and they were holding a major event. They started looking around at spiffing up their property. They contacted me, explained that they were having an event at the end of the month and needed to have their floors maintained. When I got there to look at their project, it needed to be refurbished and rejuvenated. It took two days to refurbish and rejuvenate that floor, and we had a very constructive conversation about the maintenance needs. As that property is so far out of town that they can’t get anybody qualified, I have agreed to provide their maintenance service for them. </p>




    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>